backend/bin/
backend/obj/
frontend/dist/
backend/backend-run.err.log
backend/backend-run.out.log
frontend/frontend-run.err.log
frontend/frontend-run.out.log
backend/construction.db
backend/construction.db-shm
backend/construction.db-wal
